@media (max-width: 25em) {
  #main-title img {
    width: 7rem;
  }
  .main-header button {
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
  }
  .main-header button span {
    width: 1.3rem;
    height: 1.3rem;
    top: -25%;
    right: -12px;
  }

  #modal {
    max-width: 20rem;
    width: 100%;
    background: #f9ccac;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fade-slide-in-from-top 0.3s ease-in-out;
  }

  #products {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
}
