@media (max-width: 25em) {
  #main-title img {
    width: 7rem;
  }
  .main-header {
    padding: 0.4rem 9%;
  }
  .main-header button {
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
  }
  .main-header button span {
    width: 1.3rem;
    height: 1.3rem;
    top: -25%;
    right: -12px;
  }

  #modal {
    max-width: 20rem;
    width: 100%;
  }

  #products {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
}
