@media (max-width: 25em) {
  #main-title img {
    width: 5rem;
  }
  .main-header button {
    padding: 0.4rem 0.6rem;
    font-size: 0.7rem;
  }
  .main-header button span {
    width: 1rem;
    height: 1rem;
  }

  #modal {
    max-width: 20rem;
    width: 100%;
    background: #f9ccac;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fade-slide-in-from-top 0.3s ease-in-out;
  }
}
